{% extends 'layout.html' %}

{% block body  %}
    <h1>About</h1>
    <p>
        This is a sample Web App built on Python. <br>
        User can register with the app and can try to login where app can autenticate from database.<br>
        <h4>Technical Details</h4>
            1. Backend is developed on Python with version 3.6.1<br>
            2. User Interface is designed with HTML, CSS, jQuery and Bootstrap for stunning desgin<br>
            3. Database is constructed with MS-SQL<br>
    </p>

{% endblock %}